html
  head 
     title= title 
    script(src='../script/add.js')  
body  
 div  
 text="图书名: "
 input(type="text")  
 div   
 text="作   者: " 
   input(type="text")  
   div   
button(onclick="f()")="确认添加"